.singleCustomer {
  text-align: left;
  border: 2px;
  border-bottom-style: dotted;
  border-color: gray;
  padding-top: 1em;
  width: 100%;
}

.scanList {
  height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
  word-break: break-word;
}
