<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-12 col-md-12">
      <div class="">
        <div class="line">
          <span></span>
          <span class="sml-line"></span>
        </div>
        <h2>Admin Dashboard - Scans</h2>
      </div>
    </div>
    <div class="col-lg-5">

      <div class="execute-right">
        <app-admin-singlescan></app-admin-singlescan>
      </div>
    </div>

    <div class="col-lg-7 col-md-7">
      <div class="d-flex justify-content-between">
        <div>
          <h3>{{reportService.currentViewedRapport.scanUser.name}}</h3>
          <hr>
          <p>website: {{reportService.currentViewedRapport.scanUser.website}}</p>
          <p>Datum: {{reportService.currentViewedRapport.dateCreated}}</p>
        </div>
        <div class="border-secondary border p-3">
          <p>Email: {{reportService.currentViewedRapport.scanUser.email}}</p>
          <p>Ownership: {{reportService.currentViewedRapport.scanUser.ownership}}</p>
        </div>
      </div>

      <hr>
    <div class="scanresult">
      <div class="border-secondary border p-3 m-2" *ngFor="let scanresult of reportService.currentViewedRapport.scanReports; let index = index">
        <div class="row text-center mx-auto mb-1" style="width: 98%">
          <p class="col-2 w-25 fw-bolder">Titel: </p>
          <h5 class="col w-25"> {{scanresult.title}}</h5>
        </div>
        <hr>
        <div class="row text-center mx-auto mb-2">
          <div class="col-3 w-25 fw-bolder border">
            <h6>cijfer:</h6>
            <h1> {{scanresult.grade}}/10</h1>
          </div>

          <div class="col w-25 fw-bolder">
            <p>Endpoint: </p>
            <h6>{{scanresult.endpoint}}</h6>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
