<div class="features__wrap container"
     [ngSwitch]="this.scanService.report.scanReports[this.scanService.report.scanReports.length - 1]
     .loading == true && this.scanService.report.scanReports[this.scanService.report.scanReports.length - 1]
     .grade != undefined">
  <div class="line">
    <span></span>
    <span class="sml-line"></span>
  </div>
  <div *ngSwitchCase="false">
    <h2>Scannen Website - {{this.scanService.report.scanUser.website}}</h2>
    <app-tips></app-tips>
  </div>
  <div *ngSwitchCase="true">
    <h2>Scannen Website - {{this.scanService.report.scanUser.website}} - Voltooid</h2>

    <div class="execute-right">
      <form id="emailForm" ngForm #emailForm="ngForm" (ngSubmit)="submit(email)">
        <div class="form-row">
          <div class="form-column"><input name="email"    ngModel #email    required type="email" placeholder="Email*"    class="form-control bg2" aria-label="Email"></div>

          <div class="form-column"><input type="submit" value="Mail Uitgebreide Resultaten" aria-label="Verzenden"></div>
        </div>
        <noscript>Activeer JavaScript om gebruik te maken van dit formulier.</noscript>
      </form>
    </div>
  </div>

  <app-result></app-result>
</div>



