<section class="execute-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 col-md-12">
        <div class="execute-left">
          <div class="line">
            <span></span>
            <span class="sml-line"></span>
          </div>
          <h2>Inloggen</h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="execute-right">
          <form id="loginForm" #scanForm="ngForm" (ngSubmit)="submit(email, password)">
            <div class="form-row">
              <div class="form-column"><input name="email" ngModel #email required type="email" placeholder="Email*"
                                              class="form-control bg2" aria-label="Email"></div>
              <div class="form-column"><input name="password" ngModel #password required type="password"
                                              placeholder="password*" class="form-control bg2" aria-label="password">
              </div>

              <re-captcha *ngIf="adminCaptcha === ''" (resolved)="resolved($event)" [siteKey]="adminCaptchaKey"></re-captcha>

              <div *ngIf="adminCaptcha" class="form-column"><input type="submit" value="Login" aria-label="Verzenden"></div>
            </div>
            <noscript>Activeer JavaScript om gebruik te maken van dit formulier.</noscript>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
