<nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <button (click)="activateAdminDropDown('scans')"><a>Scans</a></button>
        </li>
        <li class="nav-item active">
            <button (click)="activateAdminDropDown('tips')"><a>Tips</a></button>
        </li>
<!--        <li class="nav-item">-->
<!--            <button (click)="activateAdminDropDown('scanlimit')"><a>ScanLimit</a></button>-->
<!--        </li>-->
    </ul>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <button (click)="logOutAsUser()"><a>log uit</a></button>
        </li>
    </ul>
</nav>
