<section class="execute-area home-area ">
  <div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-lg-12 col-md-12">
        <div class="execute-left">
          <div class="line">
            <span></span>
            <span class="sml-line"></span>
          </div>
          <h2>Gratis Online Security Scan</h2>
          <p>Wil jij weten hoe goed jouw website beveiligd is? Vraag dan een gratis scan aan.</p>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="execute-right">
          <form id="scanForm" ngForm #scanForm="ngForm" (ngSubmit)="submit(name, website, ownership, content)">
            <div class="form-row">
              <div class="form-column"><input name="naam"     ngModel #name     required type="text"  placeholder="Naam*"     class="form-control bg1" aria-label="Naam"></div>
              <div class="form-column"><input name="website"  ngModel #website  required type="text"  placeholder="Website*"  class="form-control"     aria-label="Website"></div>



              <ng-template id="content" #content>
                <div class="modal-header justify-content-center">
                  <h4 class="modal-title" id="modal-basic-title">Verification</h4>
                </div>
                <div class="modal-body justify-content-center">
                  <re-captcha (resolved)="resolved($event)" [siteKey]="captchaKey"></re-captcha>
                </div>
              </ng-template>


              <div class="form-column"><input type="submit" value="GRATIS SCAN AANVRAGEN" aria-label="Verzenden"></div>
            </div>
            <div class="form-row">
              <div class="form-column d-flex gap-2">
                <p id="ownership-label">Eigenaar*</p>
                <input name="ownership" ngModel #ownership required="true" type="checkbox" class="form-control checkbox key" id="ownership"/>
                <label class="label" for="ownership">
                  <div class="ball"></div>
                </label>
              </div>
              <div class="form-column">
                <p>Hiermee gaat u akkoord met de <a href="https://getbigmarketing.nl/algemene-voorwaarden/">Algemene Voorwaarden</a> & <a href="https://getbigmarketing.nl/privacyverklaring/">Privacy Verklaring</a></p>
              </div>
              <div class="form-column">

              </div>
            </div>
            <noscript>Activeer JavaScript om gebruik te maken van dit formulier.</noscript>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


